img {
    max-width:100%;
    margin: auto;
    min-width: 10px;
}

p {
    max-width:100%;
}
.page-layout {
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 4fr  4fr;
    margin-right: 10%;
}

header {
    display:grid;
    grid-template-columns: 10% 90%;
    text-align: right;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}
@media screen and (max-width: 750px) {
    .page-layout{
        grid-template-columns: 30% 70%;
    }
}


li {
    list-style-type: none;
}

.display h3 {
    margin:0;
}

.navigation {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    /* float:left; */
}

.works {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-end;

}
.works img {
    max-width: 200px;
}
.main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
